$icomoon-font-path: "fonts" !default;

$icon-gamepad: "\e900";
$icon-music: "\e901";
$icon-travel: "\e902";
$icon-swimming: "\e903";
$icon-cooking: "\e904";
$icon-heart: "\e905";
$icon-location: "\e906";
$icon-linkedin: "\e907";
$icon-skype: "\e908";
$icon-mobile: "\e909";
$icon-email: "\e90a";
$icon-skills: "\e90b";
$icon-certifications: "\e90c";
$icon-education: "\e90d";
$icon-experience: "\e90e";
$icon-heart-filled: "\e90f";
$icon-pdf: "\e910";
$icon-seperator: "\e911";

