@import '_normalize';
@import '_animations';

$base-font-size: 16; // Default

@function em($pixels, $context: $base-font-size) {
  @return #{$pixels/$context}em
}

*{
	box-sizing:border-box;
}
p{
	margin: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: em(16);
	font-weight: 300;
	line-height: 1.4;
}
.wrapper{
	position: relative;
	min-width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}
section.intro{
	background: #2a2e31;
	color: #d4d5d6;
	width: 25%;
	height: 100%;
	padding: em(20) em(10);
	position: absolute;
	left: 0;
	top: 0;
	.block{
		margin-bottom: em(24);
	}
	.block-title{
		font-size: em(18);
		font-weight: 400;
		line-height: 0.9;
		padding-bottom: em(5);
		margin-bottom: em(7);
		margin-top: 0;
		text-transform: uppercase;
		border-bottom: em(1) solid #939598;
		color: white;
	}
	.avatar{
		width: em(190);
		margin-right: auto;
		margin-left: auto;
		position: relative;
		.head,.glasses{
		    width: 100%;
		    background-size: contain;
		    background-repeat: no-repeat;
		}
		.head{
		    background-image: url(../img/head.png);
		    width: 100%;
		    height: 180px;
		}
		.glasses{
		    background-image: url(../img/glasses.png);
		    height: 48px;
		    position: absolute;
		    top: 100px;
		    background-position: center;
		}
		.eyes{
			&.animate:before,&.animate:after{
				animation : eye-blink, eye-blink, eye-blink, eye-blink, eye-blink, eye-blink;
			 	animation-delay: 0s, 10s, 20s, 30s, 40s, 50s, 60s;
    			animation-duration: 100ms;
			}
			&:before,&:after{
				position: absolute;
				top: 12px;
				content: "";
				border-radius: 100%;
				width: 25px;
				height: 25px;
				background-color: #959798;
			}
			&:before{left: 40px;}
			&:after{right: 40px;}
		}
	}
		

	.contact{
		ul{
			padding: 0;
			margin: 0;
			list-style:none;
		}
		a{
			text-decoration: none;
			color: inherit;
			&:hover{
				color: white;
			}
		}
		i{
			display: inline-block;
			width: 20px;
		}
	}
	.languages{
		p{
			margin-bottom: em(13);
			small{
				display: block;
				line-height: 1;
			}
		}
	}
}


section.content{
	color: #2a2e31;
	width: 75%;
	padding: em(30) em(25);
	position: relative;
	left: 25%;
	header{
		margin-bottom: em(30);
		h1,h2{
			font-weight: 400;
			margin: 0;
		}
		h1{
			font-size: em(56);
			text-transform: uppercase;
			line-height: 0.9;
		}
		h2{
			font-size: em(32);
			text-indent: em(3);
		}
		b{
			font-weight: 800;
		}
	}
	.block{
		margin-bottom: em(25);
		clear: both;
	}
	.main-block-title{
		position: relative;
		margin-bottom: em(20);
		i{
		    width: em(40);
		    height: em(40);
		    border: em(2) solid;
		    border-radius: 100%;
		    display: block;
		    top: 0;
		    left: 0;
		    position: absolute;
		    background: #fff;
		}
		p{
			margin-left: em(45);
			border-bottom: 1px solid #999b9e;
			text-transform: uppercase;
			font-weight: 400;
			font-size: em(20);
		}
	}
	.block-title{
		margin-bottom: 0;
		.lead{
			float: left;
			font-weight: 400;
			color:inherit;
		}
		span{
			float: right;
			color: #7f8283;
		}
		+p{
			white-space: pre-line;
			color: #55585a;
			padding-left: em(10);
			clear: both;
		}
	}
	.content{
		margin-bottom: em(20);
	}
	.skill-tree span{
		display: block;
		float: left;
		padding: em(5) em(15) em(5) em(10);
		background: #2a2e31;
		color:white;
	    position: relative;
	    margin-bottom: em(4);
	    &:after,&:before{
        	content: "";
		    position: absolute;
		    right: -3px;
		    width: 9px;
		    height: 21px;
		    background: white;
	    }
		&:after{
			top: -2px;
			transform: rotateZ(-20deg);
		}
		&:before{
	        bottom: -2px;
    		transform: rotateZ(20deg);
		}
	}
}