@charset "UTF-8";
$icomoon-font-path : '../font/fonts';
$base-font-size: 16; // Default
@function em($pixels, $context: $base-font-size) {
  @return #{$pixels/$context}em;
}

@import '_normalize';
@import '_animations';
@import '../font/style.scss';

*{
	box-sizing:border-box;
}
p{
	margin: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: em(16);
	font-weight: 300;
	line-height: 1.4;
}
.wrapper{
	position: relative;
	min-width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}
section.intro{
	background: #2a2e31;
	color: #d4d5d6;
	width: 22%;
	height: 100%;
	padding: em(20) em(20) em(30);
	position: absolute;
	left: 0;
	top: 0;
	.block{
		margin-bottom: em(24);
	}
	.block-title{
		font-size: em(18);
		font-weight: 400;
		line-height: 0.9;
		padding-bottom: em(5);
		margin-bottom: em(7);
		margin-top: 0;
		text-transform: uppercase;
		border-bottom: em(1) solid #939598;
		color: white;
	}
	.avatar{
		width: em(190);
		margin-right: auto;
		margin-left: auto;
		position: relative;
		.head,.glasses{
		    width: 100%;
		    background-size: contain;
		    background-repeat: no-repeat;
		}
		.head{
		    background-image: url(../img/head.png);
		    width: 100%;
		    height: 180px;
		}
		.glasses{
		    background-image: url(../img/glasses.png);
		    height: 48px;
		    position: absolute;
		    top: 100px;
		    background-position: center;
		}
		.eyes{
			&.animate:before,&.animate:after{
				animation : eye-blink, eye-move-to-name, eye-blink, eye-move-to-content, eye-blink,
							eye-blink, eye-blink, eye-blink, eye-blink, eye-blink; 
			 	animation-delay: 4s, 8s, 16s, 20s, 24s, 45s, 50s, 60s, 70s, 80s;
    			animation-duration: 400ms, 2s, 400ms, 2s, 400ms, 400ms, 400ms, 400ms, 400ms, 400ms;
			}
			&:before,&:after{
				position: absolute;
				top: 12px;
				content: "";
				border-radius: 100%;
				width: 25px;
				height: 25px;
				background-color: #959798;
				transition : 300ms transform;
				will-change:transform;

			}
			&:before{left: 42px;}
			&:after{right: 40px;}
		}
	}
		

	.contact{
		ul{
			padding: 0;
			margin: 0;
			list-style:none;
		}
		a{
			text-decoration: none;
			color: inherit;
			&:hover{
				color: white;
			}
		}
		li:hover i{color:#ffcb08}
		i{
			display: inline-block;
			width: em(20);
		    text-align: center;
		    vertical-align: middle;
		    font-size: em(21);
		    margin-bottom: em(8);
		    margin-right: em(3);
		    transition : 300ms color;
		}
	}
	.languages{
		p{
			margin-bottom: em(13);
			small{
				display: block;
				line-height: 1;
				text-indent: em(5);
			}
		}
	}
	.designedby {
		font-size: 12px;
	    position: absolute;
	    bottom: 0;
	    left: 20px;
	    color:white;
	    width: 90%;
	    text-decoration: none;
		i.icon-heart-filled{
			color:#E90606;
			float: left;
		    font-size: 9px;
			margin-top: 3px;
			will-change:transform;
		}
		&:hover 
		{
			span{
				width: 76px;
	    		opacity: 1;
			}
			i{
			    margin-right: 2px;
    			margin-left: 2px;
				animation: beating-heart 700ms ease-out;
    			animation-iteration-count: infinite;	
			}
		}
		span{
			transition : 300ms all;
			width: 0;
			margin: 0 3px;
			float: left;
			display: inline-block;
		    white-space: nowrap;
    		opacity: 0;
		}
	}
}


section.content{
	color: #2a2e31;
	width: 78%;
	padding: em(30) em(20);
	position: relative;
	left: 22%;
	header{
		margin-bottom: em(30);
		h1,h2{
			font-weight: 400;
			margin: 0;
		}
		h1{
			font-size: em(56);
			text-transform: uppercase;
			line-height: 0.9;
		}
		h2{
			font-size: em(32);
			text-indent: em(3);
		}
		b{
			font-weight: 800;
		}
	}
	.pdf{
		font-size: 18px;
		color: #2a2e31;
		text-decoration: none;
	}
	.block{
		margin-bottom: em(25);
		clear: both;
	}
	.main-block-title{
		position: relative;
		margin-bottom: em(20);
		i{
		    width: em(35);
		    height: em(35);
		    border: em(2) solid;
		    border-radius: 100%;
		    display: block;
		    top: em(-7);
		    left: 0;
		    position: absolute;
		    background: #fff;
		    line-height: em(33);
		    vertical-align: middle;
		    font-size: em(22);
		    text-align: center;
		}
		p{
			margin-left: em(45);
			border-bottom: 1px solid #999b9e;
			text-transform: uppercase;
			font-weight: 400;
			font-size: em(20);
		}
	}
	p{
		white-space: pre-line;
		color: #55585a;
		padding-left: em(10);
		clear: both;
	}
	.block-title{
		margin-bottom: em(10);
		.lead{
			float: left;
			font-weight: 400;
			color:inherit;
			font-size: inherit;
		}
		span{
			float: right;
			color: #7f8283;
			font-size: em(14);
		}
	}
	.content{
		margin-bottom: em(20);
	}
	.skill-tree span{
		display: block;
		float: left;
		padding: em(5) em(6) em(5) em(15);
		background: #2a2e31;
		color:white;
	    position: relative;
	    margin-bottom: em(4);
		&:after{
		    position: absolute;
		    bottom: 0;
		    content: "\e911";
		    font-family: "tareqhassan";
		    font-size: 32px;
		    line-height: 1;
		    right: -10px;
		    z-index: 2;
		}
	}
}